{{!-- Footer Page --}}
<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="footer-social header-socialPanel">
      <h3 class="footer-social-title">Mis Redes Sociales</h3>
      <ul class="social">
        <li><a href="http://facebook.com/mayconxhh" target="_blank"><span class="social-img c-facebook icon-facebook social-hover-facebook"></span></a></li>
        <li><a href="http://twitter.com/mayconxhh" target="_blank"><span class="social-img c-twitter icon-twitter social-hover-twitter"></span></a></li>
        <li><a href="http://github.com/mayconxhh" target="_blank"><span class="social-img c-github icon-github social-hover-github"></span></a></li>
        <li><a href="http://youtube.com/mayconxhh" target="_blank"><span class="social-img c-youtube icon-youtube social-hover-youtube"></span></a></li>
        <li><a href="#" target="_blank"><span class="social-img c-linkedin icon-linkedin social-hover-linkedin"></span></a></li>
        <li><a href="http://instagram.com/mayconxhh" target="_blank"><span class="social-img c-instagram icon-instagram social-hover-instagram"></a></li>
        <li><a href="https://plus.google.com/u/0/114166151230709010639" target="_blank"><span class="social-img c-google-plus icon-google-plus social-hover-googleplus"></a></li>
      </ul>
    </div>
    <div class="footer-link">
      <h3 class="title">Enlaces</h3>
      <ul>
        <li><a href="{{@blog.url}}/demo">Demos</a></li>
        <li><a href="{{@blog.url}}/sobre-mi">Sobre mí</a></li>
        <li><a href="{{@blog.url}}/portafolio">Portafolio</a></li>
        <li><a href="{{@blog.url}}/videos">Videos</a></li>
        <li><a href="{{@blog.url}}/contactame">Contactame</a></li>
      </ul>
    </div>
    <div class="footer-about">
      <h3 class="title">Maycon X. Huayapa Huaman</h3>
      <p class="text">
        Frontend Developer, futuro Full-Stack, co-founder y CTO de <a href="http://twitter.com/teamcromlu">@TeamCromlu</a> me apasiona programar, me gusta conocer de nuevas tecnologías.   
      </p>
    </div>
  </div>
  <div class="footer-wrap">
    <div class="copy">&copy; {{date format="YYYY"}} <a href="{{@blog.url}}/author/mayconxhh">{{@blog.title}}</a> All rights reserved.</div>
    <div class="by">
      <a href="{{@blog.url}}"><span class="icon-code"></span> <span>with</span> <span class="icon-favorite"></span> <span>by Mayconxhh</span></a>
    </div>
  </div>
</footer>
<div class="overlay"></div>