<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Portafolio  | Frontend Web Developer @mayconxhh, CTO  @TeamCromlu, Maycon Xavier Huayapa Huaman</title>
	<meta name="description" content="{{meta_description}}" />
	{{!-- icon  --}}
	<link rel="icon" sizes="192x192" href=" {{asset "img/icon.png"}}" />
	<link rel="stylesheet" href="{{asset "css/style.min.css"}}">
	<link rel="stylesheet" href="{{asset "css/style_about.css"}}">
	<link href='https://fonts.googleapis.com/css?family=Poppins:300,400|Raleway:400,800' rel='stylesheet' type='text/css'>
	{{ghost_head}}
</head>
<body>
	<div class="landing">
	{{>'header'}}
	<section class="bio" style="background-image: url('{{asset "img/portafolio/background-header.jpg"}}')">
		<div class="animated bounceInDown">
			<figure id="logo-grande">
				<img src="{{asset "img/portafolio/avatar.jpg"}}" alt="Maycon Xavier Huayapa Huamán"/>
			</figure>
			<h1>
				Maycon X. Huayapa Huaman
			</h1>
			<h2>
				Frontend Web Developer, CTO en Cromlu, Blogger, <br>amante de los animales y la tecnología.	
			</h2>		
		</div>
	</section>
	<section class="secciones" id="yo">
		<div id="caja1">
			<div>
				<h2>
				Hola soy Maycon c:
			</h2>
			<p>
				Front-End Web Developer, I love Technology, I like to learn and share what I know, estoy aprendiendo a hacer web de los mejores <a href="https://twitter.com/platzi?lang=es">@Platzi</a>, a la vez indagando en la web, creando sitios web mágicos.
			</p>
			</div>
			<figure id="avatar">
				<img src="{{asset "img/portafolio/avatar.jpg"}}" alt="Maycon Xavier Huayapa Huaman">
			</figure>
		</div>
	</section>
	<section class="secciones" id="preparacion">
		<div class="texto">
			<h2>
				Mi Preparación
			</h2>
			<div>
				<p>
				He desarrollado mis habilidades usando las mejores tecnologías.
			</p>
			</div>
		</div>
		<div id="preparacion_content">
			<article class="caja1">
				<img src="{{asset "img/portafolio/html5.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					HTML5
				</h3>
				<p>
					Estructura y maquetado.
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/css3.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					CSS3
				</h3>
				<p>
					Estilos y animaciones.
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/js.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Javascript
				</h3>
				<p>
					Lenguaje de programación.
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/jquery.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					jQuery
				</h3>
				<p>
					Animación e interacción.
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/responsive.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Responsive Desing
				</h3>
				<p>
					Adapta tu web a los diferentes dispotivos.
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/bootstrap.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Bootstrap
				</h3>
				<p>
					Framework de CSS
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/stylus.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Stylus
				</h3>
				<p>
					Preprocesador CSS
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/jade.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Jade
				</h3>
				<p>
					Motor de render de Templates
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/handlebars.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					HandlebarsJs
				</h3>
				<p>
					Motor de render de Templates
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/backbone.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					BackboneJs
				</h3>
				<p>
					Framework MV*
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/react.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					ReactJs
				</h3>
				<p>
					Librería enfocada en la visualización
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/node.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					NodeJs
				</h3>
				<p>
					Javascript del lado del servidor
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/gulp.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Gulp
				</h3>
				<p>
					Automatizador de tareas
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/wordpress.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Wordpress
				</h3>
				<p>
					Plataforma semántica de publicación
				</p>
			</article>
			<article class="caja1">
				<img src="{{asset "img/portafolio/drupal.jpg"}}" class="imag1"/ width="150" height="150">
				<h3>
					Drupal
				</h3>
				<p>
					CMS (Content Management System)
				</p>
			</article>
		</div>			
	</section>
	<section class="secciones portafolio">
		<div class="texto">
			<h2>
				Mi Portafolio
			</h2>
			<div>
				<p>
				Aqui algunas cosas en las que he ido experimentando y agarrando experiencia.
			</p>
			</div>
		</div>
		<div class="item">
			<div class="item-img animation">  
	     	<img src="{{asset "img/portafolio/proyectos/adoptame.jpg"}}" />  
	     	<div class="mascara">  
	        <h2>Adoptame Demo | Web Responsive, Single page, Google Maps Api</h2>  
	        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam  in ullamcorper malesuada.</p> --}}
	        <a href="http://adoptamedemo.herokuapp.com/" target="_blank" class="link">Ver</a>  
	     	</div>  
			</div>
			<div class="item-img animation">  
	     	<img src="{{asset "img/portafolio/proyectos/awesomeanime.jpg"}}" />  
	     	<div class="mascara">  
	        <h2>Awesome Anime | Web responsive, dinámica</h2>  
	        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam  in ullamcorper malesuada.</p> --}}
	        <a href="http://animeawesome-mayconxhh.rhcloud.com/" target="_blank" class="link">Ver</a>  
	     	</div>  
			</div>
			<div class="item-img animation">  
	     	<img src="{{asset "img/portafolio/proyectos/bootstrap.jpg"}}" />  
	     	<div class="mascara">  
	        <h2>Workshop | Web Responsive</h2>  
	        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam  in ullamcorper malesuada.</p> --}}
	        <a href="http://bootstrapresponsive.herokuapp.com/" target="_blank" class="link">Ver</a>  
	     	</div>  
			</div>
			<div class="item-img animation">  
	     	<img src="{{asset "img/portafolio/proyectos/puls.jpg"}}" />  
	     	<div class="mascara">  
	        <h2>Puls 2014 | Pequeña web app para realizar publicaciones</h2>  
	        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam  in ullamcorper malesuada.</p> --}}
	        <a href="http://devpuls.herokuapp.com/" target="_blank" class="link">Ver</a>  
	     	</div>  
			</div>
			<div class="item-img animation">  
	     	<img src="{{asset "img/portafolio/proyectos/api_weather.jpg"}}" />  
	     	<div class="mascara">  
	        <h2>Api Weather | Web responsive con geolocalización, ajax</h2>  
	        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam  in ullamcorper malesuada.</p> --}}
	        <a href="http://apiweather.herokuapp.com/" target="_blank" class="link">Ver</a>  
	     	</div>  
			</div>
			<div class="item-img animation">  
	     	<img src="{{asset "img/portafolio/proyectos/cometa.jpg"}}" />  
	     	<div class="mascara">  
	        <h2>Hotel Cometa | Web responsive, geolocalización, Api Google Maps</h2>  
	        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam  in ullamcorper malesuada.</p> --}}
	        <a href="http://hotelcometa.herokuapp.com/" target="_blank" class="link">Ver</a>  
	     	</div>  
			</div>
			<div class="item-img animation">  
	     	<img src="{{asset "img/portafolio/proyectos/tvfy.jpg"}}" />  
	     	<div class="mascara">  
	        <h2>TVfy | Api TV Maze, Ajax</h2>  
	        {{!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae tortor diam  in ullamcorper malesuada.</p> --}}
	        <a href="http://tvfy.herokuapp.com/" target="_blank" class="link">Ver</a>  
	     	</div>  
			</div>
		</div>	
	</section>
	
	{{>'footer'}}
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56eb934ea39cd488"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-76136675-1', 'auto');
	  ga('send', 'pageview');

	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{asset "js/vendor.min.js"}}"></script>
	<script src="{{asset "js/app.min.js"}}"></script>
</body>
</html>